.form {
    display: flex;
    flex-direction: column;
    .buttonAdd{
        padding: 10px;
        font-size: 15px;
        color: white;
        background-color: blue;
        border: none;
        border-radius: 5px;
        width: 100px;
        margin-top: 10px;
    }
}